@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FDF6EC;
  --customText: #FFFACD;
  --foreground: #333333;
  --primary: #6B8E23;
  --secondry: #E17D60;
  --success: #8FBC8F;
  --warning: #DAA520;
  --danger: #E57373;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --customText: #1C1C1C;
    --foreground: #F5F5F5;
    --primary: #A8E063;
    --secondry: #FFCC66;
    --success: #56B870;
    --warning: #F9A825;
    --danger: #FF5A5F;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-list {
  list-style: none; /* Remove default list styling */
  counter-reset: list-counter; /* Initialize counter */
}

.custom-list li {
  counter-increment: list-counter; /* Increment counter for each list item */
  margin-bottom: 10px; /* Optional spacing */
}

.custom-list li::before {
  content: counter(list-counter) ". "; /* Display the counter */
  color: #FFD700; /* Change this to your desired color */
  font-weight: bold; /* Optional: make it bold */
}